:root {
  /* Theme fonts/colors */
  --gray-13: #0e0f11;
  --gray-12: #181b20;
  --gray-11: #23272f;
  --gray-10: #2e3440;
  --gray-09: #3b4252;
  --gray-08: #434c5e;
  --gray-07: #4c566a;
  --gray-06: #6f788a;
  --gray-05: #929aaa;
  --gray-04: #b5bcca;
  --gray-03: #d8dee9;
  --gray-02: #e5e9f0;
  --gray-01: #eceff4;
  --gray-00: #ffffff;

  --purple: #b48ead;
  --purple-bright: #944d84;
  --purple-dark: #7e4470;
  --green: #a3be8c;
  --green-bright: #77ad58;
  --green-dark: #648f4d;
  --yellow: #ebcb8b;
  --yellow-bright: #edbe5f;
  --yellow-dark: #d9a43b;
  --orange: #d08770;
  --orange-bright: #c46d52;
  --orange-dark: #b8593d;
  --red: #bf616a;
  --red-bright: #b34d54;
  --red-dark: #973f44;
  --blue: #81a1c1;
  --blue-bright: #5e81ac;
  --blue-dark: #3a5f98;
  --cyan: #8fbcbb;
  --cyan-bright: #6bb3ae;
  --cyan-dark: #539994;
  --pink: #d696ab;
  --pink-bright: #cc6e8d;
  --pink-dark: #a85470;

  --font-monospace: "Source Code Variable", monospace;
  --font-sans: "Source Sans Variable", "Fira Sans", Inter, "Sans Serif";
  --font-serif: "Source Serif Variable", "Fira Sans", "Serif";
  --default-font: var(--font-sans);
  --editor-font-size: 1rem;
}
