:root {
  /* Theme fonts/colors */
  --gray-13: #0e0f11;
  --gray-12: #181b20;
  --gray-11: #23272f;
  --gray-10: #2e3440;
  --gray-09: #3b4252;
  --gray-08: #434c5e;
  --gray-07: #4c566a;
  --gray-06: #6f788a;
  --gray-05: #929aaa;
  --gray-04: #b5bcca;
  --gray-03: #d8dee9;
  --gray-02: #e5e9f0;
  --gray-01: #eceff4;
  --gray-00: #ffffff;

  --purple: #b48ead;
  --purple-bright: #944d84;
  --purple-dark: #7e4470;
  --green: #a3be8c;
  --green-bright: #77ad58;
  --green-dark: #648f4d;
  --yellow: #ebcb8b;
  --yellow-bright: #edbe5f;
  --yellow-dark: #d9a43b;
  --orange: #d08770;
  --orange-bright: #c46d52;
  --orange-dark: #b8593d;
  --red: #bf616a;
  --red-bright: #b34d54;
  --red-dark: #973f44;
  --blue: #81a1c1;
  --blue-bright: #5e81ac;
  --blue-dark: #3a5f98;
  --cyan: #8fbcbb;
  --cyan-bright: #6bb3ae;
  --cyan-dark: #539994;
  --pink: #d696ab;
  --pink-bright: #cc6e8d;
  --pink-dark: #a85470;

  --font-monospace: "Source Code Variable", monospace;
  --font-sans: "Source Sans Variable", "Fira Sans", Inter, "Sans Serif";
  --font-serif: "Source Serif Variable", "Fira Sans", "Serif";
  --default-font: var(--font-sans);
  --editor-font-size: 1rem;
}

.theme-light {
  color-scheme: light;
  --highlight-mix-blend-mode: darken;
  --opacity-translucency: 0.6;
  --mono-rgb-0: 255, 255, 255;
  --mono-rgb-100: 0, 0, 0;
  --color-red-rgb: 228, 55, 75;
  --color-red: var(--red-bright);
  --color-green-rgb: 12, 181, 79;
  --color-green: var(--green-bright);
  --color-orange: var(--orange-bright);
  --color-yellow: var(--yellow-bright);
  --color-cyan: var(--cyan-bright);
  --color-blue: var(--blue-bright);
  --color-purple: var(--purple-bright);
  --color-pink: var(--pink-bright);
  --color-base-00: var(--gray-01);
  --color-base-05: var(--gray-02);
  --color-base-10: var(--gray-03);
  --color-base-20: var(--gray-04);
  --color-base-25: var(--gray-05);
  --color-base-30: var(--gray-06);
  --color-base-35: var(--gray-07);
  --color-base-40: var(--gray-08);
  --color-base-50: var(--gray-09);
  --color-base-60: var(--gray-10);
  --color-base-70: var(--gray-11);
  --color-base-100: var(--gray-14);
  --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --color-accent-1: hsl(
    var(--accent-h),
    var(--accent-s),
    calc(var(--accent-l) + 2.5%)
  );
  --color-accent-2: hsl(
    var(--accent-h),
    var(--accent-s),
    calc(var(--accent-l) + 5%)
  );
  --background-secondary-alt: var(--color-base-05);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.1);
  --background-modifier-cover: rgba(220, 220, 220, 0.4);
  --text-highlight-bg: rgba(255, 208, 0, 0.4);
  --text-highlight-bg-active: rgba(255, 128, 0, 0.4);
  --input-shadow:
    inset 0 0 0 1px rgba(0, 0, 0, 0.12),
    0 2px 3px 0 rgba(0, 0, 0, 0.05),
    0 1px 2px 0 rgba(0, 0, 0, 0.04),
    0 1px 1.5px 0 rgba(0, 0, 0, 0.03),
    0 0 0 0 transparent;
  --input-shadow-hover: inset 0 0 0 1px rgba(0, 0, 0, 0.17),
    0 2px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 1.5px 0 rgba(0, 0, 0, 0.03),
    0 1px 2px 0 rgba(0, 0, 0, 0.04), 0 0 0 0 transparent;
  --shadow-s: 0px 1px 2px rgba(0, 0, 0, 0.028),
    0px 3.4px 6.7px rgba(0, 0, 0, 0.042), 0px 15px 30px rgba(0, 0, 0, 0.07);
  --shadow-l: 0px 1.8px 7.3px rgba(0, 0, 0, 0.071),
    0px 6.3px 24.7px rgba(0, 0, 0, 0.112), 0px 30px 90px rgba(0, 0, 0, 0.2);
}
.theme-dark {
  color-scheme: dark;
  --highlight-mix-blend-mode: lighten;
  --opacity-translucency: 0.75;

  --mono-rgb-0: 255, 255, 255;
  --mono-rgb-100: 0, 0, 0;
  --color-red-rgb: 228, 55, 75;
  --color-green-rgb: 12, 181, 79;
  --color-red: var(--red);
  --color-green: var(--green);
  --color-orange: var(--orange);
  --color-yellow: var(--yellow);
  --color-cyan: var(--cyan);
  --color-blue: var(--blue);
  --color-purple: var(--purple);
  --color-pink: var(--pink);
  --color-base-00: var(--gray-12);
  --color-base-05: var(--gray-11);
  --color-base-10: var(--gray-10);
  --color-base-20: var(--gray-09);
  --color-base-25: var(--gray-08);
  --color-base-30: var(--gray-07);
  --color-base-35: var(--gray-06);
  --color-base-40: var(--gray-05);
  --color-base-50: var(--gray-04);
  --color-base-60: var(--gray-03);
  --color-base-70: var(--gray-02);
  --color-base-100: var(--gray-01);
  --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --color-accent-1: hsl(
    var(--accent-h),
    var(--accent-s),
    calc(var(--accent-l) - 3.8%)
  );
  --color-accent-2: hsl(
    var(--accent-h),
    var(--accent-s),
    calc(var(--accent-l) + 3.8%)
  );
  --background-modifier-form-field: var(--color-base-25);
  --background-secondary-alt: var(--color-base-30);
  --interactive-normal: var(--color-base-30);
  --interactive-hover: var(--color-base-35);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-cover: rgba(10, 10, 10, 0.4);
  --text-highlight-bg: rgba(255, 208, 0, 0.4);
  --text-highlight-bg-active: rgba(255, 128, 0, 0.4);
  --text-selection: hsla(var(--interactive-accent-hsl), 0.25);
  --input-shadow: inset 0 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.09),
    0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 1px 1.5px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 transparent;
  --input-shadow-hover: inset 0 0.5px 1px 0.5px rgba(255, 255, 255, 0.16),
    0 2px 3px 0 rgba(0, 0, 0, 0.3), 0 1px 1.5px 0 rgba(0, 0, 0, 0.2),
    0 1px 2px 0 rgba(0, 0, 0, 0.4), 0 0 0 0 transparent;
  --shadow-s: 0px 1px 2px rgba(0, 0, 0, 0.121),
    0px 3.4px 6.7px rgba(0, 0, 0, 0.179), 0px 15px 30px rgba(0, 0, 0, 0.3);
  --shadow-l: 0px 1.8px 7.3px rgba(0, 0, 0, 0.071),
    0px 6.3px 24.7px rgba(0, 0, 0, 0.112), 0px 30px 90px rgba(0, 0, 0, 0.2);
}
