body {
  --blockquote-border-thickness: 0.125rem;
  --blockquote-border-color: var(--color-accent);
  --blockquote-font-style: normal;
  --blockquote-color: inherit;
  --blockquote-background-color: var(--background-primary-alt);
}

.markdown-rendered blockquote,
.HyperMD-quote {
  color: var(--text-highlight);
  background-color: var(--blockquote-background-color);
  padding: var(--size-4-3) var(--size-4-4);
  margin-block-start: 0;
}
.markdown-source-view.mod-cm6 .cm-line.HyperMD-quote {
  padding: var(--size-4-2);
}
