// Code Blocks
.cm-s-obsidian .CodeMirror-line.HyperMD-codeblock {
  padding-left: var(--content-padding-block);
}

.cm-s-obsidian span.cm-inline-code.cm-hmd-indented-code {
  display: inline-block;
  padding: 2px 4px;
  background-color: var(--background-code);
}
.cm-s-obsidian div.HyperMD-codeblock-bg {
  background-color: var(--background-code);
  color: var(--text-code);
}
.cm-s-obsidian pre.HyperMD-codeblock-begin,
.cm-s-obsidian pre.HyperMD-codeblock-begin-bg {
  padding-top: var(--content-padding-block);
}
.cm-s-obsidian div.HyperMD-codeblock-begin-bg {
  border-top-left-radius: var(--content-radius);
  border-top-right-radius: var(--content-radius);
}
.cm-s-obsidian pre.HyperMD-codeblock-end,
.cm-s-obsidian pre.HyperMD-codeblock-end-bg {
  padding-top: var(--content-padding-block);
}
.cm-s-obsidian div.HyperMD-codeblock-end-bg {
  border-bottom-left-radius: var(--content-radius);
  border-bottom-right-radius: var(--content-radius);
}

// Inline Code
.markdown-preview-section pre,
.markdown-preview-section code {
  font-size: 0.9em;
  background-color: var(--background-code);
  color: var(--text-code-inline);
}

.markdown-preview-section pre code {
  /* Code blocks and indented code */
  padding: 2px;
  display: block;
  color: var(--text-code);
}

.markdown-preview-section code {
}
.cm-s-obsidian
  span.cm-inline-code:not(.cm-formatting):not(.cm-hmd-indented-code):not(.obsidian-search-match-highlight) {
  background-color: inherit;
}

.cm-s-obsidian span.cm-inline-code,
.cm-s-obsidian span.cm-hmd-indented-code {
  color: var(--text-code-inline);
  background-color: inherit;
  font-size: 0.875rem;
}

.cm-s-obsidian .HyperMD-codeblock {
  color: var(--color-red);
}
