body {
  --code-size: var(--font-small);
  --code-background: var(--background-primary-alt);
  --code-normal: var(--gray-02);
  --code-comment: var(--gray-07);
  --code-punctuation: var(--text-muted);
  --code-tag: var(--color-red);
  --code-value: var(--color-purple);
  --code-string: var(--color-green);
  --code-property: var(--color-cyan);
  --code-function: var(--color-yellow);
  --code-keyword: var(--color-pink);
  --code-important: var(--color-orange);
}

.cm-inline-code,
.cm-s-obsidian span.cm-inline-code.cm-hmd-indented-code,
.markdown-preview-section pre code {
  background-color: var(--code-background);
  padding: 2px;
  display: inline-block;
}

.cm-s-obsidian span.cm-comment {
  // Forces comment var to work in edit/source mode
  color: var(--code-comment);
}

span.cm-inline-code.cm-formatting-code,
.markdown-source-view.mod-cm6 .cm-line.HyperMD-codeblock-begin,
.markdown-source-view.mod-cm6 .cm-line.HyperMD-codeblock-end {
  color: var(--yellow);
}
