:root {
  --content-radius: 8px;
  --content-padding-block: 0.5rem;
  --content-padding-inline: 2px;
}

/* Editor and Preview formatting */
.cm-s-obsidian, /* Force Monospace for all textual fonts */
.cm-s-obsidian .CodeMirror-code,
.cm-s-obsidian .hmd-fold-html-stub,
.cm-s-obsidian .hmd-fold-code-stub,
.cm-s-obsidian.CodeMirror .HyperMD-hover > .HyperMD-hover-content code,
.cm-s-obsidian .cm-formatting-hashtag,
.cm-s-obsidian .cm-inline-code,
.cm-s-obsidian .HyperMD-codeblock,
.cm-s-obsidian .HyperMD-hr,
.cm-s-obsidian .cm-hmd-frontmatter,
.cm-s-obsidian .cm-hmd-orgmode-markup,
.cm-s-obsidian .cm-formatting-code,
.cm-s-obsidian .cm-math,
.cm-s-obsidian span.hmd-fold-math-placeholder,
.cm-s-obsidian .CodeMirror-linewidget kbd,
.cm-s-obsidian .hmd-fold-html kbd {
  -webkit-font-smoothing: auto;
  font-family: var(--font-monospace);
}

/**
    Links
*/
.cm-s-obsidian span.cm-link,
.cm-s-obsidian span.cm-hmd-internal-link {
  color: var(--interactive-accent);
}

a,
.cm-s-obsidian span.cm-url,
.cm-hmd-internal-link {
  color: var(--interactive-accent);
  text-decoration: none;
}

.cm-s-obsidian span.cm-header.cm-url {
  font-size: 65% !important;
  font-weight: 400;
}

a:hover,
.cm-hmd-internal-link:hover,
.cm-s-obsidian span.cm-url:hover {
  color: var(--interactive-accent-hover);
  text-decoration: none;
}

.cm-hmd-internal-link,
.cm-formatting-link {
  font-style: normal;
}

blockquote,
.cm-s-obsidian span.cm-quote,
pre.HyperMD-quote {
  color: var(--text-blockquote);
}

.markdown-preview-view mark,
.cm-s-obsidian span.cm-formatting-highlight,
.cm-s-obsidian span.cm-highlight {
  /* Highlighted text */
  color: var(--text-normal-reverse);
  padding: 2px;
}

.cm-hmd-frontmatter {
  color: var(--text-faint);
  font-size: 0.875rem;
}

.cm-s-obsidian .HyperMD-footnote {
  font-size: 0.75rem;
  padding-left: 1rem;
  line-height: 1rem;
  overflow-y: auto;
  max-height: calc(1em * 8);
}

/* Code Blocks */
.cm-s-obsidian .CodeMirror-line.HyperMD-codeblock {
  padding-left: var(--content-padding-block);
}

.cm-s-obsidian span.cm-inline-code.cm-hmd-indented-code {
  display: inline-block;
  padding: 2px 4px;
  background-color: var(--background-code);
}
.cm-s-obsidian div.HyperMD-codeblock-bg {
  background-color: var(--background-code);
  color: var(--text-code);
}
.cm-s-obsidian pre.HyperMD-codeblock-begin,
.cm-s-obsidian pre.HyperMD-codeblock-begin-bg {
  padding-top: var(--content-padding-block);
}
.cm-s-obsidian div.HyperMD-codeblock-begin-bg {
  border-top-left-radius: var(--content-radius);
  border-top-right-radius: var(--content-radius);
}
.cm-s-obsidian pre.HyperMD-codeblock-end,
.cm-s-obsidian pre.HyperMD-codeblock-end-bg {
  padding-top: var(--content-padding-block);
}
.cm-s-obsidian div.HyperMD-codeblock-end-bg {
  border-bottom-left-radius: var(--content-radius);
  border-bottom-right-radius: var(--content-radius);
}

/*  */
/* Inline Code */
/*  */

.markdown-preview-section pre,
.markdown-preview-section code {
  font-size: 0.9em;
  background-color: var(--background-code);
  color: var(--text-code-inline);
}

.markdown-preview-section pre code {
  /* Code blocks and indented code */
  padding: 2px;
  display: block;
  color: var(--text-code);
}

.markdown-preview-section code {
}
.cm-s-obsidian
  span.cm-inline-code:not(.cm-formatting):not(.cm-hmd-indented-code):not(.obsidian-search-match-highlight) {
  background-color: inherit;
}

.cm-s-obsidian span.cm-inline-code,
.cm-s-obsidian span.cm-hmd-indented-code {
  color: var(--text-code-inline);
  background-color: inherit;
  font-size: 0.875rem;
}

.cm-s-obsidian .HyperMD-codeblock {
  color: var(--color-red);
}

.tooltip {
  background-color: var(--background-primary-alt);
  border: 1px solid var(--light-3);
}
.tooltip-arrow {
  display: none;
}
