th {
  font-weight: 600;
}

thead {
  border-bottom: 2px solid var(--background-modifier-border);
}

.HyperMD-table-row {
  line-height: normal;
  padding-left: 4px;
  padding-right: 4px;
}

.HyperMD-table-row-0 {
  /* padding-top: 4px; */
}
