body {
  --table-background: transparent;
  --table-border-width: 1px;
  --table-border-color: var(--background-modifier-border);
  --table-white-space: normal;
  --table-header-background: var(--table-background);
  --table-header-background-hover: inherit;
  --table-header-border-width: var(--table-border-width);
  --table-header-border-color: var(--table-border-color);
  --table-header-font: inherit;
  --table-header-size: var(--font-smaller);
  --table-header-weight: var(--font-normal);
  --table-header-color: var(--text-muted);
  --table-text-size: inherit;
  --table-text-color: inherit;
  --table-column-max-width: none;
  --table-column-alt-background: var(--table-background);
  --table-column-first-border-width: var(--table-border-width);
  --table-column-last-border-width: var(--table-border-width);
  --table-row-background-hover: var(--table-background);
  --table-row-alt-background: var(--table-background);
  --table-row-last-border-width: var(--table-border-width);
}
th {
  font-weight: 600;
}

thead {
  border-bottom: 2px solid var(--background-modifier-border);
}

.HyperMD-table-row {
  line-height: normal;
  padding-left: 4px;
  padding-right: 4px;
}

.HyperMD-table-row-0 {
  /* padding-top: 4px; */
}
