body {
  --tag-size: var(--font-smaller);
  --tag-color: var(--text-accent);
  --tag-color-hover: var(--text-accent);
  --tag-decoration: none;
  --tag-decoration-hover: none;
  --tag-background: hsla(var(--interactive-accent-hsl), 0.1);
  --tag-background-hover: hsla(var(--interactive-accent-hsl), 0.2);
  --tag-border-color: hsla(var(--interactive-accent-hsl), 0.15);
  --tag-border-color-hover: hsla(var(--interactive-accent-hsl), 0.15);
  --tag-border-width: 1px;
  --tag-padding-x: 0.625em;
  --tag-padding-y: 0.125em;
  --tag-radius: 0.25em;
}

.tag,
.cm-hashtag {
  display: inline;
  font-size: 0.75rem !important;
  font-family: var(--font-sans);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.025em;
  background-color: var(--tag-background);
  vertical-align: baseline !important;
}

.cm-hashtag.cm-hashtag-begin {
  // Prevent tags from wrapping after `#` when editing
  padding-right: 1px;
  break-after: avoid;
  display: inline;
  padding-right: 1px;
}

// These custom tag styles might be better served as snippets or a feature file
.cm-s-obsidian span.cm-tag-s,
.cm-s-obsidian span.cm-tag-e,
.cm-s-obsidian span.cm-tag-n,
.cm-s-obsidian span.cm-tag-v,
.tag[href^="#/"] {
  background-color: var(--color-accent);
  filter: brightness(80%);
  color: var(--gray-00);
  border: none;
}

.tag[href^="#//"]
{
  background-color: var(--background-secondary-alt);
  filter: brightness(80%);
}
.cm-s-obsidian span.cm-tag-next,
.tag[href*="#//next"]
{
  color: var(--color-yellow);
}
.cm-s-obsidian span.cm-tag-active,
.tag[class~="#//active"]
{
  color: var(--color-green);
}
.cm-s-obsidian span[class*="cm-tag--due"],
.tag[href*="-due"] {
  color: var(--color-red);
}
.cm-s-obsidian span.cm-tag-done,
.tag[href*="#//done"]
{
  color: var(--frost0);
}
.cm-s-obsidian span.cm-tag-priority,
.tag[href*="#--priority/1"] {
  color: var(--color-red);
}

.cm-tag--waitingOn ~ * {
  color: var(--dark3);
}
