.markdown-source-view {
  // Monospace renders larger than sans, this keeps them closer in size
  font-size: calc(var(--font-text-size) * 0.875);
}
.cm-line {
  -webkit-font-smoothing: auto;
  font-family: var(--font-monospace);
  font-weight: 375;
  letter-spacing: -0.05ch;
}
.cm-inline-code,
.cm-hmd-codeblock {
  letter-spacing: 0;
}
.cm-formatting {
  letter-spacing: -0.1ch;
  display: inline-block;
}
.cm-formatting-strong {
  color: inherit;
}
.cm-header.cm-formatting-link {
  font-weight: 300;
}

.markdown-preview-view {
  font-weight: 300;
  p {
    margin: 0.75rem auto;
  }
  .heading-collapse-indicator {
    margin-left: -2rem;
    width: 2rem;
  }
}

// Highlights
.markdown-rendered mark,
.cm-s-obsidian span.cm-highlight {
  /* Highlighted text */
  display: inline;
  color: var(--text-normal-reverse);
  font-weight: 500;
  padding: 2px;
  line-height: calc(1.5em + 2px);
}

.cm-hmd-frontmatter {
  color: var(--text-faint);
  font-size: 0.875rem;
}
