.cm-line {
  font-weight: 325;
  letter-spacing: 0.05ch;
}
.cm-inline-code,
.cm-hmd-codeblock {
  letter-spacing: 0;
}
.cm-formatting {
  letter-spacing: -0.1ch;
  display: inline-block;
}
.cm-formatting-strong {
  color: inherit;
}
.cm-header.cm-formatting-link {
  font-weight: 300;
}

p {
  margin: auto;
}

.markdown-preview-view .heading-collapse-indicator {
  margin-left: -2rem;
  width: 2rem;
}
