body {
  --nav-item-size: var(--font-ui-small);
  --nav-item-color: var(--text-faint);
  --nav-item-color-hover: var(--text-normal);
  --nav-item-color-active: var(--text-normal);
  --nav-item-color-selected: var(--text-normal);
  --nav-item-color-highlighted: var(--text-accent-hover);
  --nav-item-background-hover: var(--background-primary-alt);
  --nav-item-background-active: var(--background-secondary-alt);
  --nav-item-background-selected: hsla(var(--color-accent-hsl), 0.2);
  --nav-item-weight: inherit;
  --nav-item-weight-hover: inherit;
  --nav-item-weight-active: inherit;
  --nav-item-white-space: nowrap;
  --nav-indentation-guide-width: var(--indentation-guide-width);
  --nav-indentation-guide-color: var(--indentation-guide-color);
  --nav-collapse-icon-color: var(--collapse-icon-color);
  --nav-collapse-icon-color-collapsed: var(--text-faint);
}
// Nav is used for menus inside leaf containers
.nav-header {
  padding: 0;
  justify-content: center;
}

.nav-buttons-container {
  height: calc(var(--header-height) * 0.75);
  box-shadow: 0px 0.5px var(--gray-10);
  width: 90%;
  margin: 0px auto;
}

.nav-action-button {
  padding: 0rem 0.75rem;
  line-height: 0;
  border-radius: 0;
  color: var(--text-faint);

  & svg {
    width: 0.75rem;
    height: 0.75rem;
  }
  &:hover {
    background-color: var(--gray-10);
    color: var(--interactive-accent);
    fill: var(--interactive-accent);
  }

  &.is-active {
    background-color: var(--background-active);
    color: var(--text-normal);
    fill: var(--text-normal);
  }
  &.is-active:hover {
    background-color: var(--background-active);
    color: var(--interactive-accent);
    fill: var(--interactive-accent);
  }
}

.nav-files-container {
  // Reduces font size relative to other
  --nav-item-size: 0.875rem;
}

.nav-file {
  &-title-content {
    font-family: var(--font-monospace);
    color: var(--color-yellow);
    font-weight: 325;
    font-size: 0.875em;
    letter-spacing: -0.1px;
    filter: saturate(0.5);
  }

  &-tag {
    color: var(--nav-item-color);
    margin-left: auto;
    padding-left: 1rem;
  }

  .nav-folder-title-content {
    font-weight: 600;
    color: var(--text-faint);
  }

  &-title .is-active {
    color: var(--nav-item-background);
    background-color: var(--nav-item-background-active);
  }

  &-title {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    &.is-active {
      background-color: var(--background-modifier-active-hover) !important;
    }
  }

  &.is-flashing > * {
    color: var(--text-normal-reverse);
  }
}

.nav-folder {
  &-title {
    &:hover {
      background-color: var(--background-modifier-active-hover) !important;
    }
  }
  &.has-focus {
    background-color: var(--background-modifier-cover);
  }
  &.mod-root {
    // Prevents content from being covered when hidden ribbon is exposed
    margin-top: 1rem;
    margin-left: 0.5rem;

    & > .nav-folder-title {
      // @todo Might want to move this to a feature snippet
      // Hides vault name (displayed at root level)
      display: none;
    }
  }
}
