// Nav is used for menus inside leaf containers
.nav-header {
  padding: 0;
  justify-content: center;
}

.nav-buttons-container {
  height: calc(var(--header-height) * 0.75);
  box-shadow: 0px 0.5px var(--gray-10);
  width: 90%;
  margin: 0px auto;
}

.nav-action-button {
  padding: 0rem 0.75rem;
  line-height: 0;
  border-radius: 0;
  color: var(--text-faint);

  & svg {
    width: 0.75rem;
    height: 0.75rem;
  }
  &:hover {
    background-color: var(--gray-10);
    color: var(--interactive-accent);
    fill: var(--interactive-accent);
  }

  &.is-active {
    background-color: var(--background-active);
    color: var(--text-normal);
    fill: var(--text-normal);
  }
  &.is-active:hover {
    background-color: var(--background-active);
    color: var(--interactive-accent);
    fill: var(--interactive-accent);
  }
}

.nav-file {
  &-title-content {
    font-family: var(--font-monospace);
    color: var(--color-yellow);
    font-weight: 325;
    font-size: 0.75rem;
    letter-spacing: -0.1px;
    filter: saturate(0.5);
  }

  &-tag {
    color: var(--nav-item-color);
    margin-left: auto;
    padding-left: 1rem;
  }

  .nav-folder-title-content {
    font-weight: 600;
    color: var(--text-faint);
  }

  &-title .is-active {
    color: var(--nav-item-background);
    background-color: var(--nav-item-background-active);
  }

  &-title {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    &.is-active {
      background-color: var(--background-modifier-active-hover) !important;
    }
  }

  &.is-flashing > * {
    color: var(--text-normal-reverse);
  }
}

.nav-folder {
  &-title {
    &:hover {
      background-color: var(--background-modifier-active-hover) !important;
    }
  }
  &.mod-root {
    // Prevents content from being covered when hidden ribbon is exposed
    margin-top: 1rem;
    margin-left: 0.5rem;

    & > .nav-folder-title {
      // @todo Might want to move this to a feature snippet
      // Hides vault name (displayed at root level)
      display: none;
    }
  }
}
