.status-bar {
  background-color: transparent;
  border: 0;
  bottom: 0;
  left: auto;
  right: 0;
  color: var(--text-muted);
  line-height: 1;
  max-height: unset;
  padding: 0px;
  position: absolute;
  transition: color 200ms linear;
  width: auto;
  z-index: 30;
  &:hover {
    color: var(--text-faint);
  }
  & > .status-bar-item:first-of-type {
    flex-grow: 1;
  }
}

.status-bar-item {
  display: flex;
  align-items: center;
  line-height: 2;
  &.mod-clickable:hover {
    color: var(--text-normal);
  }
}
