body {
  --ribbon-background: var(--background-secondary);
  --ribbon-background-collapsed: var(--background-primary);
  --ribbon-padding: 0;
  --ribbon-width: var(--header-height);
}

.workspace-ribbon {
  &.mod-left {
    background-color: transparent;
    margin-top: 0;
    &::before {
      background-color: transparent;
      position: relative;
      margin-bottom: 1rem;
    }

    &.is-collapsed {
      transition: all 0.25s ease;
      border-color: transparent;
      background-color: transparent;
      &:hover {
        background-color: var(--ribbon-background);
        border-color: var(--divider-color);
      }
    }
  }
}

.side-dock-ribbon {
  border-right: 1px solid transparent;

  &:hover {
    background-color: var(--background-primary);
    border-right-color: var(--divider-color);
  }
  &.mod-left {
    transform: translateX(10px);
    margin-left: calc(var(--ribbon-width) * -1);

    &:hover {
      transform: translateX(var(--ribbon-width));
    }
  }

  &.mod-right {
    transform: translateX(-10px);
    margin-right: -30px;
  }

  &:hover {
    transform: translateX(-30px);
  }

  & svg {
    color: var(--background-active);
    opacity: 0;
    transition: all 0.25s ease;
  }

  &:hover svg {
    color: inherit;
    opacity: 1;
  }
}
.side-dock-actions {
  gap: var(--size-4-3);
  margin-top: 1rem;
}

.is-frameless {
  --header-height: 2.5rem;
  --frame-left-space: 80px;

  .workspace-ribbon.mod-left {
    border-color: transparent;
    &:hover {
      border-color: var(--divider-color);
    }
  }
}

.is-hidden-frameless .workspace-ribbon.mod-left {
  margin-top: var(--header-height);
  &::before {
    display: none;
  }
}
