/* Lock first pane to 1/3 screen width */
.workspace-split.mod-vertical .workspace-leaf:first-of-type {
  width: 33%;
  max-width: 100ch;
  min-width: 400px;
}

/* Set max-width on content inside editor/preview panes
    This overrides the "readable line length" setting and isn't necessary when that is set */
.cm-contentContainer {
  max-width: 100ch;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.CodeMirror-sizer {
  max-width: 1200px;
  margin: 10px auto !important;
  padding-left: 16px;
}

.markdown-preview-sizer.markdown-preview-section {
  max-width: 1200px;
  margin: 0px auto;
}
