.theme-dark {
  color-scheme: dark;
  --font-text-theme: var(--font-sans);
  --font-interface-theme: var(--font-sans);
  --font-monospace-theme: var(--font-mono);

  --opacity-translucency: 0.75;

  --mono-rgb-0: 255, 255, 255;
  --mono-rgb-100: 0, 0, 0;
  --color-red-rgb: 228, 55, 75;
  --color-green-rgb: 12, 181, 79;

  --color-red: var(--red);
  --color-green: var(--green);
  --color-orange: var(--orange);
  --color-yellow: var(--yellow);
  --color-cyan: var(--cyan);
  --color-blue: var(--blue);
  --color-purple: var(--purple);
  --color-pink: var(--pink);

  --color-base-00: var(--gray-13);
  --color-base-05: var(--gray-12);
  --color-base-10: var(--gray-11);
  --color-base-20: var(--gray-10);
  --color-base-25: var(--gray-09);
  --color-base-30: var(--gray-08);
  --color-base-35: var(--gray-07);
  --color-base-40: var(--gray-06);
  --color-base-50: var(--gray-05);
  --color-base-60: var(--gray-04);
  --color-base-70: var(--gray-03);
  --color-base-100: var(--gray-01);

  --accent-h: 210;
  --accent-s: 34%;
  --accent-l: 63%;

  --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --color-accent-1: hsl(
    var(--accent-h),
    var(--accent-s),
    calc(var(--accent-l) - 3.8%)
  );
  --color-accent-2: hsl(
    var(--accent-h),
    var(--accent-s),
    calc(var(--accent-l) + 3.8%)
  );

  --background-primary: var(--gray-12);
  --background-primary-alt: var(--gray-10);
  --background-secondary: var(--gray-11);
  --background-secondary-alt: var(--gray-12);
  --background-modifier-form-field: var(--gray-10);
  --interactive-normal: var(--gray-05);
  --interactive-hover: var(--gray-06);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-cover: rgba(10, 10, 10, 0.4);
  --text-highlight-bg: var(--color-yellow);
  --text-highlight-bg-active: var(--yellow-bright);
  --text-selection: hsla(var(--interactive-accent-hsl), 0.25);
  --input-shadow: inset 0 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.09),
    0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 1px 1.5px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 transparent;
  --input-shadow-hover: inset 0 0.5px 1px 0.5px rgba(255, 255, 255, 0.16),
    0 2px 3px 0 rgba(0, 0, 0, 0.3), 0 1px 1.5px 0 rgba(0, 0, 0, 0.2),
    0 1px 2px 0 rgba(0, 0, 0, 0.4), 0 0 0 0 transparent;
  --shadow-s: 0px 1px 2px rgba(0, 0, 0, 0.121),
    0px 3.4px 6.7px rgba(0, 0, 0, 0.179), 0px 15px 30px rgba(0, 0, 0, 0.3);
  --shadow-l: 0px 1.8px 7.3px rgba(0, 0, 0, 0.071),
    0px 6.3px 24.7px rgba(0, 0, 0, 0.112), 0px 30px 90px rgba(0, 0, 0, 0.2);

  --text-normal: var(--gray-02);
  --text-normal-reverse: var(--gray-10);
}
